{% extends 'layout.html' %}

{% block body %}
 
  <img src="https://cdn.discordapp.com/attachments/1080310430561472633/1082011601839853648/spain-girona-flower-festival.jpg" width="100%" height="150px">
  <br>
  <br>
  <br>
  <br>
  <center>
    <form id="testform" action="/upload" method="post" enctype="multipart/form-data">
      <label for="file"><b>Choose a file:</b></label>
      <input type="file" id="file" name="file">
      <input type="submit" value="Upload">
    </form>
  </center>
  
  <br>
  <br>
  <br>
  <br>
  <hr>

  <center>
  
  <!-- First column: upload form -->
  <div style="float: left; width: 33%;">
    <h2>User Management</h2>
    {% for UDatas in UData %}
    <h4>---------------</h4>
      {% for key, value in UDatas.items() %}
        {% if key=="username" %}
        
          <h3>{{key}}: {{value}}</h3>
        
        {% endif %}
        {% if key=="access" %}
            <label for="select">Choose a value:</label>
            <select id="select" name="select" onchange="SampleFunction()">
              <option value="0" selected>{{value}}</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  
  <!-- Second column: log data -->
  <div style="float: left; width: 33%;">
    <h2>Log Data</h2>
    {% for log in logs %}
      <h4>---------------</h4>
      {% for key, value in log.items() %}
        <h5>{{key}}: {{value}}</h5>
      {% endfor %}
    {% endfor %}
  </div>
  
  <!-- Third column: parsed data -->
  <div style="float: left; width: 33%;">
    <h2>User Data</h2>
    {% for UDatas in UData %}
    <h4>---------------</h4>
      {% for key, value in UDatas.items() %}
        {% if key=="username" or key=="name" or key=="email" or key=="access": %}
          <h5>{{key}}: {{value}}</h2>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</center>

  <!-- JavaScript to fetch and display parsed data -->
  <script>
    fetch('/AdminParsing')
      .then(response => response.json())
      .then(data => {
        document.querySelector('#nameList').textContent = data.NameList;
        console.log(data.NameList);
        document.querySelector('#logsForFile').textContent = data.LogsForFile;
      });
  </script>
{% endblock %}