{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" href="static/top_bar.css">
  <nav>
    <a class="active" href="#">Home</a>
    <a href="#">About</a>
    <a href="">Contact</a>
    <div class="dropdown">
      <button class="dropbtn"><img src="picturefunny-removebg-preview.png" width=50></button>
      <div class="dropdown-content">
        <a href="#">Settings</a>
        <a href="#">Profile</a>
        <a href="#">Logout</a>
      </div>
    </div>
  </nav>
  <h1>Main Page Download</h1>
{% endblock %} 
